<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CE.Collections" version="0.3.0.1" targetFramework="net45" />
  <package id="CE.Console" version="0.1.7" targetFramework="net45" />
  <package id="CE.Control" version="0.1.2.1" targetFramework="net45" />
  <package id="CE.core" version="0.2.1" targetFramework="net45" />
  <package id="CE.Text" version="0.1.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>